body[b-d4mpt2czyg] {
    font-family: calibri;
    margin-top: 50px;
    padding: 3px;
}

.logout[b-d4mpt2czyg] {
    justify-content: center;
    margin-left: 200px;
    background-color: black;
    color: white;
}
.profile-main[b-d4mpt2czyg] {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #aed5e2;
    padding-bottom: 7px;
}

.profile-header[b-d4mpt2czyg] {
    height: 200px;
    width: 100%;
    background-color: #EBF6FA;
    border-bottom: 2px solid #E2F3FB;
}

.user-detail[b-d4mpt2czyg] {
    position: relative;
    width: 75%;
    margin: 0 auto;
    height: 100%;
}

.user-image[b-d4mpt2czyg] {
    float: left;
    position: relative;
    width: 23%;
    height: 135px;
}

    .user-image img[b-d4mpt2czyg] {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        margin-top: 35px;
    }

.prof-label[b-d4mpt2czyg] {
    position: absolute;
    background: #8C13A0;
    color: #fff;
    padding: 9px 4px;
    border-radius: 50%;
    top: 155px;
    left: 42px;
    font-size: 12px;
}

.user-data[b-d4mpt2czyg] {
    float: left;
    width: 46%;
    padding-left: 27px;
    margin-bottom: 20px;
}

    .user-data h2[b-d4mpt2czyg] {
        margin-bottom: 0px;
        margin-top: 35px;
        font-size: 20px;
        font-weight: 600;
    }

    .user-data .post-label[b-d4mpt2czyg] {
        font-size: 10px;
        border: 1px solid #C3CECB;
        padding: 0px 4px;
        border-radius: 4px;
        background: #F3F5F5;
        margin-right: 5px;
    }

        .user-data .post-label:hover[b-d4mpt2czyg] {
            background-color: #F8EDE7;
            border-color: #F2D4BA;
        }

    .user-data p[b-d4mpt2czyg] {
        font-size: 12px;
        color: #404040;
    }

.social-icons[b-d4mpt2czyg] {
    float: right;
    width: 25%;
    text-align: right;
}

    .social-icons i[b-d4mpt2czyg] {
        margin-top: 35px;
        margin-bottom: 15px;
        color: #fff;
        padding: 5px 5px 1px 0px;
        border-radius: 50%;
        font-size: 11px;
        margin-right: 2px;
        height: 21px;
        width: 21px;
    }

    .social-icons .fa-facebook[b-d4mpt2czyg] {
        background-color: #365597;
    }

    .social-icons .fa-twitter[b-d4mpt2czyg] {
        background-color: #01B0F4;
    }

    .social-icons .fa-linkedin[b-d4mpt2czyg] {
        background-color: #0F80BB;
    }

    .social-icons .fa-google[b-d4mpt2czyg] {
        background-color: #D53B1F;
    }

    .social-icons .fa-instagram[b-d4mpt2czyg] {
        background-color: #CF3594;
    }

.msg-btn[b-d4mpt2czyg] {
    background: #fff;
    padding: 5px 11px;
    color: black;
    text-decoration: none;
    font-size: 14px;
}

    .msg-btn i[b-d4mpt2czyg] {
        padding: 3px;
        color: black;
        margin-right: 7px;
    }
/*tab*/
.tab-panel-main[b-d4mpt2czyg] {
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
}

ul.tabs[b-d4mpt2czyg] {
    margin: 0px;
    padding: 8px;
    list-style: none;
    display: flex;
    position: absolute;
    top: 207px;
    right: 400px;
    align-content: center;
}

    ul.tabs li[b-d4mpt2czyg] {
        color: #222;
        display: inline-block;
        padding: 10px 15px;
        border-right: 1px solid #E2F3FB;
        border-top: 2px solid #E2F3FB;
        cursor: pointer;
        background: #FAFBFB;
    }

        ul.tabs li:last-child[b-d4mpt2czyg] {
            border-right: 2px solid #E2F3FB;
        }

        ul.tabs li:first-child[b-d4mpt2czyg] {
            border-left: 2px solid #E2F3FB;
        }

        ul.tabs li.current[b-d4mpt2czyg] {
            background: #10A3FF;
            color: #fff;
            font-weight: 600;
        }

.tab-content[b-d4mpt2czyg] {
    display: none;
    padding: 15px 5px;
}

    .tab-content.current[b-d4mpt2czyg] {
        display: inherit;
    }

.skill-box[b-d4mpt2czyg] {
    border: 1px solid #ededed;
    border-radius: 3px;
    padding: 11px 15px;
    margin-bottom: 20px;
}

    .skill-box ul li strong[b-d4mpt2czyg] {
        font-size: 12px;
    }

    .skill-box ul[b-d4mpt2czyg] {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .skill-box ul li[b-d4mpt2czyg] {
            display: inline-block;
            font-size: 11px;
            margin-right: 4px;
            padding: 4px 4px;
            border-radius: 2px;
        }

            .skill-box ul li:hover[b-d4mpt2czyg] {
                background-color: #FF6E00;
                color: #fff !important;
            }

            .skill-box ul li:first-child:hover[b-d4mpt2czyg] {
                background-color: #fff;
                color: black !important;
            }

            .skill-box ul li i[b-d4mpt2czyg] {
                margin-left: 4px;
                margin-right: 1px;
            }

.bio-box[b-d4mpt2czyg] {
    float: left;
    width: 56%;
    border: 1px solid #ededed;
    border-radius: 4px;
}

.detail-box[b-d4mpt2czyg] {
    float: right;
    width: 32%;
    border: 1px solid #ededed;
    padding: 13px;
    border-radius: 4px;
}

.bio-box .heading[b-d4mpt2czyg] {
    padding: 10px 0px 10px 10px;
}

    .bio-box .heading p[b-d4mpt2czyg] {
        margin: 0px;
        font-weight: 600;
        font-size: 13px;
    }

    .bio-box .heading label[b-d4mpt2czyg] {
        float: right;
        font-size: 9px;
        font-weight: normal;
        border: 1px solid #ededed;
        border-right: none;
        padding: 2px 1px 2px 5px;
    }

.bio-box .desc[b-d4mpt2czyg] {
    padding: 10px 10px 10px 10px;
    text-align: justify;
    color: #838383;
    font-size: 13px;
}

.detail-box[b-d4mpt2czyg] {
    padding: 10px;
    font-size: 13px;
}

    .detail-box p[b-d4mpt2czyg] {
        font-weight: 600;
        margin: 0px;
    }

    .detail-box .ul-first[b-d4mpt2czyg] {
        padding: 0px;
        list-style: none;
        float: left;
    }

    .detail-box .ul-second[b-d4mpt2czyg] {
        float: left;
        list-style: none;
        color: #767676;
    }

#Portfolio[b-d4mpt2czyg] {
    height: 210px;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}

.portfolio-box[b-d4mpt2czyg] {
    border: 1px solid #ededed;
    border-radius: 4px;
    padding: 0px 20px;
    float: left;
    height: 220px;
}

.portfolio-img-box[b-d4mpt2czyg] {
    width: 30%;
    height: 145px;
    float: left;
    margin-right: 25px;
    border-radius: 3px;
}

    .portfolio-img-box:last-child[b-d4mpt2czyg] {
        margin-right: 0px;
    }

    .portfolio-img-box h3[b-d4mpt2czyg] {
        text-align: center;
        color: #969696;
    }

    .portfolio-img-box img[b-d4mpt2czyg] {
        border: 1px solid #c1c1c1;
        width: 100%;
        height: 100%;
        padding: 2px;
    }

#Edu-detail[b-d4mpt2czyg] {
    height: 210px;
    float: left;
    padding-right: 0;
    padding-left: 0;
}

.Edu-box-main h2[b-d4mpt2czyg] {
    margin: 0;
    margin-bottom: 0px;
    text-align: center;
    margin-bottom: 25px;
    color: #969696;
}

    .Edu-box-main h2 i[b-d4mpt2czyg] {
        color: #42A8BF;
    }

.Edu-box-main[b-d4mpt2czyg] {
    float: left;
    border-radius: 4px;
    border: 1px solid #ededed;
    padding: 10px 0px;
}

.Edu-box[b-d4mpt2czyg] {
    width: 38%;
    float: left;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #E0E0E1;
    padding: 10px;
}

    .Edu-box:last-child[b-d4mpt2czyg] {
        margin-left: 0px;
        margin-right: 20px;
    }

    .Edu-box h5[b-d4mpt2czyg] {
        margin: 0;
        font-weight: normal;
        font-weight: 600;
    }

        .Edu-box h5 span[b-d4mpt2czyg] {
            color: #42A8BF;
            font-size: 15px;
        }

    .Edu-box p[b-d4mpt2czyg] {
        padding: 10px 0px 0px 0px;
        text-align: justify;
        font-size: 13px;
        color: #8E8E8E;
        margin: 0;
    }

.footer[b-d4mpt2czyg], .footer strong[b-d4mpt2czyg] {
    text-align: center;
}

    .footer p[b-d4mpt2czyg] {
        margin-bottom: 0px;
    }

.footer-box-main[b-d4mpt2czyg] {
    width: 80%;
    background-color: red;
    margin: 0 auto;
}

.footer-box[b-d4mpt2czyg] {
    height: 50px;
    width: 50px;
    border: 1px solid #939393;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

    .footer-box:last-child[b-d4mpt2czyg] {
        margin-right: 0px;
    }

    .footer-box i[b-d4mpt2czyg] {
        line-height: 50px;
        font-size: 20px;
    }

    .footer-box .fa-facebook[b-d4mpt2czyg] {
        color: #365597;
    }

    .footer-box .fa-twitter[b-d4mpt2czyg] {
        color: #01B0F4;
    }

    .footer-box .fa-linkedin[b-d4mpt2czyg] {
        color: #0F80BB;
    }

    .footer-box .fa-google[b-d4mpt2czyg] {
        color: #D53B1F;
    }

    .footer-box .fa-instagram[b-d4mpt2czyg] {
        color: #CF3594;
    }

#Basic-detail[b-d4mpt2czyg] {
    height: 210px;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 320px) and (max-width: 640px) {
    .profile-main[b-d4mpt2czyg] {
        width: 100%;
    }

    .user-detail[b-d4mpt2czyg] {
        width: 95%;
    }

    .user-image[b-d4mpt2czyg] {
        width: 33%;
        height: 100px;
    }

    .user-data[b-d4mpt2czyg] {
        width: 51%;
        margin-bottom: 27px;
    }

    .social-icons[b-d4mpt2czyg] {
        width: 90%;
        float: left;
    }

        .social-icons i[b-d4mpt2czyg] {
            margin-top: 0px;
        }

    .msg-btn[b-d4mpt2czyg] {
        float: left;
        height: 18px;
        margin-right: 10px;
    }

    ul.tabs[b-d4mpt2czyg] {
        width: 97%;
        font-size: 13.5px;
        right: 0px;
        top: 261px;
        left: 7px;
    }

    .profile-header[b-d4mpt2czyg] {
        height: 250px;
    }

    .bio-box[b-d4mpt2czyg] {
        width: 100%;
        margin-bottom: 10px;
    }

    .detail-box[b-d4mpt2czyg] {
        width: 100%;
        float: left;
        padding: 0;
    }

        .detail-box p[b-d4mpt2czyg] {
            padding: 10px;
            padding-bottom: 10px;
            padding-bottom: 0;
        }

        .detail-box ul.ul-first[b-d4mpt2czyg] {
            padding-left: 10px;
        }

    .Edu-box[b-d4mpt2czyg] {
        width: 80%;
        margin: 0px;
        margin-bottom: 0px;
        margin-left: 11px;
        margin-bottom: 15px;
    }

        .Edu-box:last-child[b-d4mpt2czyg] {
            margin-left: 11px;
        }

    .portfolio-box[b-d4mpt2czyg], .portfolio-img-box[b-d4mpt2czyg] {
        height: auto;
    }

    .portfolio-img-box[b-d4mpt2czyg] {
        width: 100%;
    }

    .footer-box i[b-d4mpt2czyg] {
        line-height: 40px;
    }

    .footer-box[b-d4mpt2czyg] {
        height: 42px;
        width: 35px;
    }

    #Portfolio[b-d4mpt2czyg], #Edu-detail[b-d4mpt2czyg], #Basic-detail[b-d4mpt2czyg] {
        height: auto;
    }
}
